
ComputerVision/ComputerVision.xcodeproj/project.xcworkspace/xcuserdata/patrick1.xcuserdatad/UserInterfaceState.xcuserstate

*.xcuserstate

opencv2.framework

ComputerVision/ComputerVision.xcodeproj/project.xcworkspace/xcuserdata/patrick1.xcuserdatad/UserInterfaceState.xcuserstate
